@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import "components/header";
@import "components/toolbar";
@import "components/formula";
@import "components/table";
@import "components/dashboard";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}


.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;
}
